input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

.form-block{
  width:100%; display: flex; flex-direction: column; gap: 0.8rem; margin-bottom:24px;
  
  >.form-block-item{
    width:100%; padding: 0.8rem 0;
    >.form-item-desc{
      color: var(#{$prefix}-color-global-gray-50); letter-spacing: 0;
      font-size: var(#{$prefix}-type-scale-body-xs);
    }
    >.text-error{
      width:100%; font-size: var(#{$prefix}-type-scale-body-xs); padding-top: 1.2rem;
      color: var(#{$prefix}-color-brand-primary-600);
    }
  }
  .form-label{
    display: block; 
    color: var(#{$prefix}-color-text-body-default);
    font-size: var(#{$prefix}-type-scale-body-base);
    font-weight: var(#{$prefix}-font-weight-bold);
    margin-bottom: 1.2rem;
    >sup{
      font-size: 17px; color:var(#{$prefix}-color-global-red-700);
    }
    &.form-label-inline{
      display: inline-block; font-weight: 400; font-size: var(#{$prefix}-type-scale-body-sm);
      padding:0 0; margin-bottom:0; line-height: 1em;
      >a{
        color: var(#{$prefix}-color-brand-primary-600);
      }
    }
  }
}

.input-wrap{
  display: block; width:100%; height: auto; position: relative;
  margin-bottom: 16px;
  &.leading-item{
    >.input-text{
      padding-left: 38px;
    }
    .leading-icon{
      position: absolute; width:32px; height:32px; top: 7px; left: 8px;
      display: flex; justify-content: center; align-items: center;
      opacity: 0.5;
    }
    &:focus-within{
      .leading-icon{ opacity: 1;}
    } 
  }
}

.input-text{
  width:100%; display: block; padding: 1rem 1.6rem; height:48px;  margin:0;
  background-color: var(#{$prefix}-color-inputs-bg-default);
  border:1px solid var(#{$prefix}-color-inputs-textfield-border-default);
  border-radius: var(#{$prefix}-inputs-textfield-radius);
  &:focus{
    border:1px solid var(#{$prefix}-color-inputs-textfield-border-active);
    &::placeholder { opacity: 0;}
  }
  &::placeholder{
    @include placeholder;
  }  
  &.textarea{
    height: auto;
  }
  &.sm{height:40px}
}

.numberic-stepper{
  display: flex; align-items: center; gap: 4px;
  >.input-text{
    text-align: center; font-weight: bold; padding: 1rem 0;
    border: 1px solid transparent; width:66px;
    font-size: 21px;
  }
  >.action-btn { 
    >svg{
      width:24px; height:24px;
    }
  }
  &.sm {
    >.action-btn{
      height:40px; width: 40px;
      >svg{
        width:20px; height:20px;
      }
    }
    >.input-text{
      height: 40px; font-size: 19px; width:56px;
    }
  }
  &.xs {
    >.action-btn{
      height:32px; width: 32px;
      >svg{
        width:16px; height:16px;
      }
    }
    >.input-text{
      height: 32px; font-size: 17px; width: 40px;
    }
  }
}

/* Slider ------------ */

.slider-wrap{
  position: relative; min-width: 320px;
  >.slider-value-wrap{
    width:100%;
    >.value-label{
      font-size: var(#{$prefix}-type-scale-body-base);
      color: var(#{$prefix}-color-global-gray-60);
    }
    >.value-input{
      font-size: var(#{$prefix}-type-scale-body-base);
      color: var(#{$prefix}-color-global-gray-80);
      font-weight: bold;
    }
  }
  >.slider-wrap-inner{
    >.slider{
      position: relative; width:100%; display: flex; align-items: center;
      >.slider-track{
        position: relative; width:100%; height: 8px; overflow: hidden; border-radius: 10px;
        background-color: var(#{$prefix}-color-global-gray-100-alpha-10);
        >.slider-track-range{
          background-color: var(#{$prefix}-color-static-pastel-400-pink);
        }
      }
      .slider-thumb{
        display: block; width:20px; height:20px; overflow: hidden; border-radius: 50%;
        background-color: white; border: 4px solid var(#{$prefix}-color-static-pastel-400-pink);
        &:disabled{
          pointer-events: none;
        }
      }
    }
  }
  >.slider-minmax{
    width:100%; display: flex; justify-content: space-between;
    >span{
      font-size: var(#{$prefix}-type-scale-body-xs);
      color: var(#{$prefix}-color-global-gray-50);
    }
  }
}
