
.test-common{
  &.status-bar{
    width:100%; height:54px; position: fixed; top:0; left:0; z-index: 90000;
    >img{ max-width: 100%; }
  }   
}
.page-wrap{
  width:100%; padding: 16px 0 0 0;
  .gusuk-logo{
    display: block; width: 140px; height: 24px; position: relative; margin: 0 auto;
    >img{ max-width: 100%; }
  }
  .app-header{
    width:100%; padding: 16px 16px 0 16px; display: flex; justify-content: space-between;
    >.search-wrap{
      display: block; width:302px;
      >img{ max-width: 100%; }
    }
    >.btn-burger{
      width:48px; height: 48px;
    }
  }
  .full-dummy-img{
    max-width: 100%;
  }
}
.section-title-wrap{
  width:100%; padding: 24px 16px 16px 16px;
  >.title-level-3{
    font-weight: bold;
  }
}

/* Test-------*/
.test-home{
  width:100%; position: relative; display: flex;
  >.left-block{
    width:480px; height:100vh; min-height: 1100px;
    >.inner-wrap{
      width: 100%; padding: 80px 24px; display: flex; flex-direction: column;
      >.title-block{
        width:100%; 
        >h4{
          font-size: 24px; font-weight: bold; margin-bottom: 1rem;
        }
        >p{
          font-size: 16px; line-height: 1.5em; word-break: keep-all;
        }
      }
    }
  }
  >.right-block{
    width:100%; height:100vh; min-height: 1100px;
    background-color: var(#{$prefix}-color-global-gray-20);
  }
}
/* Test-A ----*/

.test-a{
  .app-menu-wrap{
    width:100%; padding: 16px 16px 0px 16px;
    border-bottom: 1px solid var(#{$prefix}-color-global-gray-10);
  }  
}
.hero-carousel-a{
  width:100%; padding: 16px 8px !important;
  .hero-card-a{
    min-width: 200px; min-height: 200px; padding:0 8px;
  }
}
.service-link-swiper{
  width:100%; height:122px;
  .service-card{
    height:122px; 
    >img{ height: 122px; width:auto;}
  }
}