
.test-common{
  &.status-bar{
    width:100%; height:54px; position: fixed; top:0; left:0; z-index: 90000;
    >img{ max-width: 100%; }
  }   
}
.page-wrap{
  width:100%; padding: 16px 0 0 0;
  .gusuk-logo{
    display: block; width: 140px; height: 24px; position: relative; margin: 0 auto;
    >img{ max-width: 100%; }
  }
  .app-header{
    width:100%; padding: 16px 16px 0 16px; display: flex; justify-content: space-between;
    >.search-wrap{
      display: block; width:302px;
      >img{ max-width: 100%; }
    }
    >.btn-burger{
      width:48px; height: 48px;
    }
    &.b-header{
      padding:0;
    }
  }
  .full-dummy-img{
    max-width: 100%;
  }
}
.section-title-wrap{
  width:100%; padding: 24px 16px 16px 16px;
  >.title-level-3{
    font-weight: bold;
  }
}

/* Test-------*/

.test-home{
  width:100%; position: relative; display: flex;
  >.left-block{
    width:100%; min-width:400px; max-width: 440px; height:100vh; min-height: 1100px;
    >.block-title{
      width:100%; padding: 32px 24px;
      >h2{
        font-weight: bold; font-size:24px; margin-bottom:8px;
      }
      >p{ line-height: 1.4em; font-size: 15px;}
      
    }
    >.inner-wrap{
      width: 100%; padding: 24px 24px; display: flex; flex-direction: column;
      border-top: 1px solid var(#{$prefix}-color-global-gray-20);
      >.title-block{
        width:100%; 
        >h4{
          font-size: 20px; font-weight: bold; margin-bottom: 1rem;
        }
        >p{
          font-size: 16px; line-height: 1.5em; word-break: keep-all;
        }
        >.draft-desc{
          width:100%;
          >.strong { font-weight: bold;}
          >ul{
            padding-left: 16px;
            li{ list-style-type: disc; }
          }
        }
      }
      >button{
        width:100%; padding: 12px 16px; border-radius: 6px;
        background-color: var(#{$prefix}-color-global-gray-10);
        margin: 16px 0 32px 0; font-weight: bold;
        border: 1px solid var(#{$prefix}-color-global-gray-40);
        &.active{
          border: 1px solid black;
          background-color: var(#{$prefix}-color-global-gray-90);
          color:white;
        }
      }
    }
  }
  >.right-block{
    width:100%; height:100vh; min-height: 1100px;
    background-color: var(#{$prefix}-color-global-gray-30);
  }
}
body:has(.mo-page-wrap){
  &::-webkit-scrollbar{
    width: 0px; background-color: var(#{$prefix}-color-global-gray-10);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(#{$prefix}-color-global-gray-20);
  }
}

/* Test-A ----*/

.test-a{
  .app-menu-wrap{
    width:100%; padding: 16px 16px 0px 16px;
    border-bottom: 1px solid var(#{$prefix}-color-global-gray-10);
  }  
}
.hero-carousel-a{
  width:100%; padding: 16px 8px !important;
  .hero-card-a{
    min-width: 200px; min-height: 200px; padding:0 8px;
  }
}
.pagination-wrap{
  display: flex; height: 40px; padding-top:8px ;
  >img{ max-width: 100px; position: absolute; left:16px;}
}

.push-notice-wrap{
  min-width:100%; display: flex; height: 80px; gap: 6px;
  padding:16px 0 0 16px; line-height: 0;
  >.push-notice-item{
    width: 260px; height: 80px; flex-shrink: 0; line-height: 0;
  }
}
.a-link-wrap{
  width:100%; padding: 48px 16px;
}
.a-link-wrap-2{
  width:100%; padding: 0px 16px 24px 16px; display: flex; flex-direction: column; gap:20px;
}
.bottom-bar{
  position: fixed; width:100%; bottom: 0;
  >.btn-menu{
    position: absolute; width:60px; height:60px; left: 20px; top: 0; cursor: pointer;
    // border: 1px solid;
  }
  &.b-bottom-bar{
    >.btn-menu{
      left: 110px;
    }
  }
}
.mo-menu-modal{
  position: fixed; width: 100%; height: calc(100vh - 48px); min-height: 700px; top: 48px;
  background-image: url('/img/prototype/menu_back.png'); background-size: 100%; z-index: 9999;
  transition: left 0.2s; left:-100%; overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 0px; background-color: var(#{$prefix}-color-global-gray-10);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(#{$prefix}-color-global-gray-20);
  }
  >.menu-wrap{
    width:100%;
  }
  &.active{
    left:0;
  }
  >.btn-menu-close{
    position: absolute; width: 40px; height:40px; cursor: pointer; top:10px; right:10px; 
    // border: 1px solid;
    &.back{
      right: auto; top:10px; left: 10px;
    }
  }
}