
.list-wrap{
  width:100%; display: flex; flex-direction: column; gap:0;
  >.list-item{
    width:100%; display: flex; 
    padding: 1.6rem 1.6rem 1.6rem 2rem; display: flex; align-items: center; cursor: pointer;
    background-color: var(#{$prefix}-color-surface-modal-bg);
    &.menu-link{
      &:hover{
        background-color: var(#{$prefix}-color-global-gray-10);
      }
    }
    
    >.leading-item{
      display: flex; align-items: center; justify-content: center;
      padding: 0.8rem; border-radius: 0.8rem;
      background-color: var(#{$prefix}-color-global-gray-60);
      >i{ font-size: 16px; color:white; }
      &.circle{ border-radius: 50%;}
      &.pink{ background-color: var(#{$prefix}-color-static-pastel-400-pink); }
    }
    >.text-item{
      width:100%; padding-left: 1.4rem;
      >p{ font-size: 17px; line-height: 1.4em; font-weight: bold;}
    }
    >.trailing-item{
      padding:0.4rem; line-height: 0;
    }
  }  
}

.list-wrap-text{
  width:100%; display: flex; flex-direction: column; gap: 10px;
  >.list-item{
    width:100%; display: flex; 
    >.leading-item{
      background-color: transparent; padding:0;
      &:has(.bullet){ padding: 0.9rem 0.4rem 0 0; }
      &:has(.bullet-image){ padding: 0.5rem 0.4rem 0 0; }
      >.bullet{
        position: relative; display: block; width:12px; height: 12px; 
        &:before{
          content:''; display: block; position: absolute;
          width:4px; height:4px;
          background-color: var(#{$prefix}-color-global-gray-60);
          top:0px; left:4px;
        }
        &.round{
          &:before{
            border-radius: 50%;
          }  
        }
        &.bullet-image{
          width:12px; height:12px;
          &:before{ display: none; }
          >img{max-width: 100%;}
        }
      }  
    }
    >.text-item{
      >p{ font-size: 17px; line-height: 1.4em; font-weight: medium;}
    }
  }
}

/*----------------------*/

.list-ul{
  width:100%; display: flex; flex-direction: column; 
  &.list-underline {
    >li{
      border-bottom: 1px solid var(#{$prefix}-color-global-gray-20);
    }
  }
  >li{
    display: flex; width:100%; 
    
  }
}
.list-item{
  display: flex; width:100%; padding: 1.6rem 1.6rem; align-items: center; 
  >a{
    width:100%; display: flex; align-items: center; gap: 0.8rem;
    >.leading-item{
      width: 40px; height: 40px; flex-shrink: 0;
      display: flex; justify-content: center; align-items: center;
      &:has(.avatar) { margin-right:0.8rem; }
      >.icon-wrap{
        width:40px; height:40px; border-radius: 50%;
        display: flex; justify-content: center; align-items: center;
        background-color: var(#{$prefix}-color-global-gray-10);
        >svg{
          width:20px; height: 20px;
        }
      }
      &.artwork{
        width: 64px; height: 64px; overflow: hidden; border-radius: 0.8rem;
        margin-right:0.8rem;
        >img{ object-fit: cover; object-position: center; }
      }
    }
    >.trailing-item{
      flex-shrink: 0;
      >svg{
        width:100%;
        stroke: var(#{$prefix}-color-global-gray-60);
      }
      &.icon { width:20px; height:20px; }
    }
  }  
}