/*-----------------------*/




/*-----------------------*/

._section-block{
  width:100%; position: relative; overflow: hidden; padding:0 1.6rem;
}

._section-heading{
  width:100%; position: relative; padding: 0 1.6rem; margin: 4rem 0 2.4rem 0;
  display: flex; justify-content: space-between; gap:1.2rem;
  >.heading-wrap{
    width:100%; display: flex; flex-direction: column;
    >.section-heading{
      width:100%; font-size: var(#{$prefix}-type-scale-title-lg); font-weight: bold;
      line-height: 1.35em; padding-top: 0.4rem; 
    }
    >.section-heading-desc{
      width:100%; font-size: var(#{$prefix}-type-scale-title-xs); font-weight: 400;
      line-height: 1.35em; margin-top:0.4rem;
      color: var(#{$prefix}-color-global-gray-60);
    }
    &:has(._text-hidden){
      max-width:calc(100% - 60px);
    }
  }
  >.trailing-item{
    display: flex; justify-content: center; align-items: center; height: 40px;
  }
}

._section-sub-heading{
  width:100%; position: relative; padding: 0 1.6rem; margin: 1.6rem 0 1.6rem 0;
  display: flex; justify-content: space-between;
  >.heading-wrap{
    width:100%; display: flex; flex-direction: column;
    >.section-heading{
      width:100%; font-size: var(#{$prefix}-type-scale-title-sm); font-weight: bold;
      line-height: 1.35em;
    }
    >.section-heading-desc{
      width:100%; font-size: var(#{$prefix}-type-scale-title-xs); font-weight: 400;
      line-height: 1.35em; margin-top:0.4rem;
      color: var(#{$prefix}-color-global-gray-60);
    }
  }
  >.trailing-item{
    display: flex; justify-content: center; align-items: center; height: 40px;
  }
}
._text-hidden{
  white-space: nowrap; overflow:hidden; text-overflow: ellipsis;
  
}

/*-----------------------*/

._text-block{
  width:100%; display: flex; flex-direction: column;
  >.title{
    width:100%; font-size: var(#{$prefix}-type-scale-body-base); color: var(#{$prefix}-color-global-gray-80);
    line-height: var(#{$prefix}-line-height-140); text-decoration: none;
  }
  >.desc{
    width:100%; font-size: var(#{$prefix}-type-scale-body-sm); color: var(#{$prefix}-color-global-gray-60);
    line-height: var(#{$prefix}-line-height-140); text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  >.detail{
    width:100%; font-size: var(#{$prefix}-type-scale-body-xs); color: var(#{$prefix}-color-global-gray-60);
    line-height: var(#{$prefix}-line-height-140); text-decoration: none;
  }
  &.lg{
    >.title{ font-weight: bold; font-size: var(#{$prefix}-type-scale-title-lg); margin-bottom: 0.4rem; }
    >.desc { font-size: var(#{$prefix}-type-scale-body-base); }
  }
}

._media{
  position: relative; width:100%; overflow: hidden; border-radius: var(#{$prefix}-card-radius-regular);
  display: flex; justify-content: center; align-items: center;
  >img{ width: 100%; height:100%; object-fit: cover; object-position: center;}
  &.aspect-5x2 { aspect-ratio: 5/2; }
  &.aspect-4x2 { aspect-ratio: 4/2; }
  &.aspect-3x2 { aspect-ratio: 3/2; }
  &.aspect-4x3 { aspect-ratio: 4/3; }
  &.aspect-4x4 { aspect-ratio: 4/4; }
  &.aspect-4x5 { aspect-ratio: 4/5; }
  &.aspect-2x3 { aspect-ratio: 2/3; }
}

._line-item{
  width:100%; display: flex; gap:0.8rem; padding: 0.8rem 0; justify-content: space-between;
  >.leading-item { 
    flex-shrink: 0; display: flex; gap:1.2rem; 
  }
  >.trailing-item { flex-shrink: 0; display: flex; gap:1.2rem; }
}

/*-----------------------*/





