
.select{
  width:100%; height: 48px; display: flex; align-items: center; justify-content: space-between;
  border:1px solid var(#{$prefix}-color-global-gray-40); border-radius: 6px;
  padding: 0.4rem 0.8rem 0.4rem 1.6rem;
  .select-item{
    border-radius: 6px; 
  }
}
.select-group{
  display: flex; align-items: center; justify-content: space-between;
  .select-grouped-badge{
    background-color: var(#{$prefix}-color-global-gray-10); border-radius: 12px;
    font-size:11px; padding: 4px 4px; height:16px; line-height: 1em;
  }
}
