@font-face {
  font-family: 'material';
  font-style: normal;
  font-weight: 400;
  src: url("material.eot?fb675be17d7468dfb597dd38a9c2636b?#iefix") format("embedded-opentype"),
url("material.woff2?fb675be17d7468dfb597dd38a9c2636b") format("woff2"),
url("material.woff?fb675be17d7468dfb597dd38a9c2636b") format("woff");
}

.material, .material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.material-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.material {
  font-family: 'material';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-access_time:before { content: "\f101"; }
.material-alarm:before { content: "\f102"; }
.material-beach:before { content: "\f103"; }
.material-bed:before { content: "\f104"; }
.material-boat:before { content: "\f105"; }
.material-bookmark:before { content: "\f106"; }
.material-bookmarks:before { content: "\f107"; }
.material-brief_case:before { content: "\f108"; }
.material-browse_gallery:before { content: "\f109"; }
.material-bus_side:before { content: "\f10a"; }
.material-bus:before { content: "\f10b"; }
.material-cake:before { content: "\f10c"; }
.material-calendar_edit:before { content: "\f10d"; }
.material-calendar_month:before { content: "\f10e"; }
.material-calendar_today:before { content: "\f10f"; }
.material-camera_alt:before { content: "\f110"; }
.material-car:before { content: "\f111"; }
.material-chart_insert:before { content: "\f112"; }
.material-comment_insert:before { content: "\f113"; }
.material-contents:before { content: "\f114"; }
.material-date_range:before { content: "\f115"; }
.material-delivery_dining:before { content: "\f116"; }
.material-direction_off:before { content: "\f117"; }
.material-direction:before { content: "\f118"; }
.material-edit:before { content: "\f119"; }
.material-emoji_events:before { content: "\f11a"; }
.material-event_available:before { content: "\f11b"; }
.material-event_busy:before { content: "\f11c"; }
.material-event_insert:before { content: "\f11d"; }
.material-event_note:before { content: "\f11e"; }
.material-event_repeat:before { content: "\f11f"; }
.material-event_seat:before { content: "\f120"; }
.material-feedback:before { content: "\f121"; }
.material-flight_land:before { content: "\f122"; }
.material-flight_takeoff:before { content: "\f123"; }
.material-flight:before { content: "\f124"; }
.material-florist:before { content: "\f125"; }
.material-forum:before { content: "\f126"; }
.material-gas_station:before { content: "\f127"; }
.material-heart:before { content: "\f128"; }
.material-hiking:before { content: "\f129"; }
.material-history:before { content: "\f12a"; }
.material-home:before { content: "\f12b"; }
.material-hotel:before { content: "\f12c"; }
.material-https_lock:before { content: "\f12d"; }
.material-key_off:before { content: "\f12e"; }
.material-key:before { content: "\f12f"; }
.material-link:before { content: "\f130"; }
.material-local_dining:before { content: "\f131"; }
.material-location_pin:before { content: "\f132"; }
.material-luggage:before { content: "\f133"; }
.material-map_pin_drop:before { content: "\f134"; }
.material-map_pin_off:before { content: "\f135"; }
.material-map_pin:before { content: "\f136"; }
.material-medias:before { content: "\f137"; }
.material-music_note_off:before { content: "\f138"; }
.material-music_note:before { content: "\f139"; }
.material-parking:before { content: "\f13a"; }
.material-pedal_bike:before { content: "\f13b"; }
.material-phone_laptop:before { content: "\f13c"; }
.material-phone:before { content: "\f13d"; }
.material-photo:before { content: "\f13e"; }
.material-pin_bad:before { content: "\f13f"; }
.material-play:before { content: "\f140"; }
.material-railway:before { content: "\f141"; }
.material-restaurant:before { content: "\f142"; }
.material-run:before { content: "\f143"; }
.material-scanner:before { content: "\f144"; }
.material-signpost:before { content: "\f145"; }
.material-smartphone:before { content: "\f146"; }
.material-star:before { content: "\f147"; }
.material-store_cart:before { content: "\f148"; }
.material-subway:before { content: "\f149"; }
.material-tag:before { content: "\f14a"; }
.material-taxi:before { content: "\f14b"; }
.material-traffic:before { content: "\f14c"; }
.material-truck_side:before { content: "\f14d"; }
.material-video_library:before { content: "\f14e"; }
.material-video_monitor:before { content: "\f14f"; }
.material-videocam_off:before { content: "\f150"; }
.material-videocam:before { content: "\f151"; }
.material-visbility_off:before { content: "\f152"; }
.material-visbility:before { content: "\f153"; }
.material-volume_down:before { content: "\f154"; }
.material-volume_mute:before { content: "\f155"; }
.material-volume_off:before { content: "\f156"; }
.material-volume_up:before { content: "\f157"; }
.material-walk:before { content: "\f158"; }
.material-watch_late:before { content: "\f159"; }
.material-watch_off:before { content: "\f15a"; }
.material-watch:before { content: "\f15b"; }
