fontagon-contents(value)
  content value

@font-face
  font-family "control-round"
  src url("control-round.eot?76f2ec5a368d2cc2aacf05fa4d41edfc?#iefix") format("embedded-opentype")
  src url("control-round.woff2?76f2ec5a368d2cc2aacf05fa4d41edfc") format("woff2")
  src url("control-round.woff?76f2ec5a368d2cc2aacf05fa4d41edfc") format("woff")

.control-round, .control-icons
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  display inline-flex
  align-items center
  justify-content center
  vertical-align middle

.control-icons
  width 1em
  height 1em
  position relative
  fill currentColor

.control-round
  font-family 'control-round'
  font-weight normal
  font-style normal
  display inline-block
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing antialiased
  /* Support for Safari and Chrome. */
  text-rendering optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing grayscale

  /* Support for IE. */
  font-feature-settings 'liga'


.control-arrow-down
  &:before
    fontagon-contents "\f101"
.control-arrow-left
  &:before
    fontagon-contents "\f102"
.control-arrow-long-left
  &:before
    fontagon-contents "\f103"
.control-arrow-long-right
  &:before
    fontagon-contents "\f104"
.control-arrow-right
  &:before
    fontagon-contents "\f105"
.control-arrow-up
  &:before
    fontagon-contents "\f106"
.control-chevron-down-bottom
  &:before
    fontagon-contents "\f107"
.control-chevron-down
  &:before
    fontagon-contents "\f108"
.control-chevron-left
  &:before
    fontagon-contents "\f109"
.control-chevron-right
  &:before
    fontagon-contents "\f10a"
.control-chevron-up-top
  &:before
    fontagon-contents "\f10b"
.control-chevron-up
  &:before
    fontagon-contents "\f10c"
.control-ellipsis-horizontal
  &:before
    fontagon-contents "\f10d"
.control-ellipsis-vertical
  &:before
    fontagon-contents "\f10e"
.control-minus
  &:before
    fontagon-contents "\f10f"
.control-plus
  &:before
    fontagon-contents "\f110"
.control-x
  &:before
    fontagon-contents "\f111"
